.formControl.error input,
.formControl.error textarea {
    border: solid red 1px;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: solid red 1px;
    padding: 5px;
    color: red;
}

.textareaWrap{
}

.textarea {
    border: 1px solid rgba(17, 17, 17, .25);
    border-radius: 8px;
    padding: 5px;
    width: 100%;
    resize: none;
    margin: 0;
}