
.nav {
    padding: 0 50px 20px 28px;
    font-size: 18px;
}

.item {
    padding-bottom: 8px;
}

.item a{
    text-decoration: none;
     color: #111111;
 }

.item a:hover{
    text-decoration: none;
    color: #111111;
}

.item a.active {
    font-weight: bold;
}