html {
    background-color: #edeef0;
}

body {
    font-family: 'Josefin Sans', sans-serif !important;
    overflow:  scroll;
}

.page {
    background-color: #edeef0;
}

a {
    color: inherit;
}

.app-container {
    margin: 0 auto;
    display: block;
    max-width: 1200px;
}

.header-wrap {
    border-bottom: 1px solid rgba(17, 17, 17, .15);
    margin-bottom: 1rem;
    background-color: #fff;
    height: 188px;
}

.main {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    padding-top: 25px;
}

.content {
    width: 100%;
}