html {
    background-color: #edeef0;
    min-width: 720px;
}

body {
    font-family: 'Josefin Sans', sans-serif !important;
    overflow:  scroll;
}

.page {
    background-color: #edeef0;
}

a {
    color: inherit;
}

.app-container {
    margin: 0 auto;
    display: block;
    max-width: 1200px;
}

.header-wrap {
    border-bottom: 1px solid rgba(17, 17, 17, .15);
    margin-bottom: 20px;
    background-color: #fff;
    height: 188px;
}

.main {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
}

.content {
    width: 100%;
}

/* Zoom of Lightbox */
.ril__image {
    transform: translate3d(0px, 0px, 0px) scale3d(2.00885, 2.00885, 1) !important;
}