html {
    background-color: #edeef0;
}

body {
    font-family: 'Josefin Sans', sans-serif !important;
    overflow:  scroll;
    font-size: 18px !important;
}

main {
    background-color: #edeef0;
}

a {
    color: inherit;
}

.app-container {
    margin: 0 auto;
    display: block;
    max-width: 1200px;
}

.header-wrap {
    border-bottom: 1px solid rgba(17, 17, 17, .15);
    margin-bottom: 1rem;
    background-color: #fff;
    height: 188px;
}

.main {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    padding-top: 25px;
}

.content {
    box-shadow: 0 1px 0 0 rgba(17, 17, 17, .15),0 0 0 1px rgba(17, 17, 17, .05);
    border-radius: 4px;
    background-color: #fff;
    padding: 2rem;
    width: 100%;
}