.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems,
.messages {
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 0 0 rgba(17, 17, 17, .15), 0 0 0 1px rgba(17, 17, 17, .05);
}

.dialogsItems {
    margin-right: 20px;
}

.dialogsItems a{
    text-decoration: none;
    color: inherit;
}

.dialogsItems a.active{
    text-decoration: inherit;
}

.dialogsItems .active {
    font-weight: bold;
}

.messages > div {
    padding: 3px;
    margin-bottom: 15px;
}

.form textarea {
    outline: none !important;
}

.sendMessageWrap {
    /*display: flex;
    justify-content: center;*/
    margin-top: 3px;
}

.sendMessageWrap button {
    outline: none !important;
    border-radius: 5px;
}


